<!-- Below is razor syntax which is just like using parenthesis for JSX code in React in this case, the tab title will be called HomePage if we 
    go to the Home Page. Else the default is "- My Shop" as specified by the laout.cshtml page in Shared View.
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Shop</h1>
</div>

¨<partial name="_Carousel" />