<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<!-- Below *ngIf is an if statement that checks if the forecasts array coming from fetch-data.component.ts
     is equal to null in other words empty, then we display Loading... -->
<p *ngIf="!forecasts"><em>Loading...</em></p>

<!-- Below in the table tag, we have another if statement which means that if the forecasts array is not
     empty, we will display the table. -->
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody> <!-- *ng is the syntax for structural directives in angular in other words, for loops, if
               and switch and below we use the *ngFor loop which takes in the forecast array objects
               from fetch-data.components.ts.-->
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
