<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <!-- Below is a special Angular directive that acts as a placeholder for rendering different components
      based on the current route. It's used in Angular's routing system to dynamically display the appropriate
      component based on the URL. When a user navigates to a specific route, the corresponding component's
      content will be rendered within the router-outlet -->
    <router-outlet></router-outlet>
  </div>
</body>
