@model Item

<h2>Create New Item</h2>

<!-- When the form is submitted, is should be processed by the Create action method in the controller.   -->
<form asp-action="Create">
    <div class="form-group">
        <!-- Generates a label for the "Name" attribute in the Item model class, with a red * span next to it. -->
        <label asp-for="Name"></label><span class="text-danger">*</span>
        <!-- asp-for binds to the Name attribute in the Item model class and checks if valid. -->
        <input asp-for="Name" class="form-control" />
        <!-- Is a placeholder for error messages Name and Price in the Item.cs class are not nullable, so asp-validation in this case is
             validating to ensure non empty values. The form doesn't have a field for ItemId, because this is auto generated in the database.
        -->
        <span asp-validation-for="Name" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label asp-for="Price"></label><span class="text-danger">*</span>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <!-- By making the type "submit", we specify that this will submit data to the server. We have left out Description and ImageUrl in this form
         And if we want to make it mandatory, we can add [required] decorations above the Description and ImageUrl attributes in the Item.cs.
    -->
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Table" class="btn btn-secondary">Back to Table View</a>
</form>
