@model ItemListViewModel
<!-- the view's model is of type ItemListViewModel. This model type defines the structure of the data that the view expects to receive.
    At the top of your Table.cshtml view, you're specifying that the view is expecting a model of type ItemListViewModel using (at)model ItemListViewModel.
    This tells the view that it should receive an instance of ItemListViewModel as its model.
-->
<h1>List of Shop Items (@Model.CurrentViewName View)</h1>
<a href="/Item/Grid">Grid View</a>

<!-- With partial views, we are essentially doing the equivalent in .NET to creating components in React, here we are pointing to the _ItemTable
     View in Shared and we are passing in Model.Items arrayList as an argument into the _ItemTable View.
-->
<partial name="_ItemTable" model="Model.Items" />
